{% extends "_layout.html" %}
{% block title %}Swarm Stack {{ stackname }}{% endblock %}
{% block head %}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism.css" rel="stylesheet" />
{% endblock %}
{% block content %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/components/prism-core.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/components/prism-yaml.min.js"></script>
	Inspecting {{ stackname }}
	<pre><code class="language-yaml">{{ stack }}</code></pre>
{% endblock %}